<html>
  <head>
    <h1>Welcome to the Pie List!</h1>
  </head>
    <% if @title %>
      <% store.transaction { store[@title] = @recipe } %>
    <% end %>
  <body>
    <ul>
      <% store.transaction do %>
        <% store.roots.sort.each do |r| %>
          <li><a href="/<%= to_uri(r) %>"><%= "#{r}" %></a></li>
        <% end %>
      <% end %>
    </ul>
    <a href="/entry">enter</a>
  </body>
</html>
