<html>
  <head>
    <h1>Welcome to the Cookbook!</h1>
  </head>
  <body>
    <ul>
      <% recipe_list.each do |r| %>
        <li><a href="/<%= to_uri(r) %>"><%= "#{r}" %></a></li>
      <% end %>
    </ul>
    <a href="/entry">enter</a>
  </body>
</html>
