<html>
  <body>
    <form method="post" action ="/">
      <p>Title:</p>
      <input type="text" name="Title" size = "50">
      <p>Recipe:</p>
      <textarea rows = "25" cols = "75" wrap = "virtual" name = "Recipe"></textarea>
      <input type="submit" value="Submit">
    </form>
    <a href="/">Cancel</a>
  </body>
</html>
